.ant-menu-sub.ant-menu-inline {
  background-color: white !important;
}

.mailCard > .ant-card-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.7rem;
}
